<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="misael.itics.tesoem.edu.examenmisael">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SALUDAR"></activity>
        <activity android:name=".PANTALLASALIDA" />
        <activity android:name=".POTENCIA" />
        <activity android:name=".RESTA" />
        <activity android:name=".SUMA" />
        <activity android:name=".OPERACIONESPANTALLA" />
        <activity android:name=".PANTALLA2" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>